.create_user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}